.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
    background-color: aqua;
}

button[disabled] {
    background-color: antiquewhite;
}

h3 {
    text-align: center;
}

/* Add an 'active' class to style the background of the 'Add to Cargo Hold' buttons. */
/* I couldn't get it to work this way, so I did it a different way */

/* Add the 'nearMaxMass' class style here: */
.nearMaxMass {
    font-weight: bold;
    color: red;
}